.box1 {background-color: cadetblue; width: 600px; height: 400px;}
.box2 {background-color: coral; width: 400px; height: 250px;}
.box3 {background-color: orange; width: 100px; height: 100px;}
.box4 {background-color: yellowgreen; width: 100px; height: 100px;}
.highlight-color {color: green; font-size: 30px;}
.highlight-color2 {color: orange; font-size: 30px;}